<!DOCTYPE HTML>
<html>
<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
  <script>


    $( document ).ready(function() {


      localStorage.setItem("i",'1')
      var myVar = setInterval(myFun, 500);
      function myFun(){

        var a = localStorage.getItem('i')
        $.ajax
        ({
          type: "GET",
          url: "/quotes/"+ a,

          dataType: "json",

        }).done(function (data) {



          console.log(data);
          drawRow(data);
          /*

           $.each(data, function drawTable(data) {

           //  console.log(data);
           //   console.log(data.length);

           for (var i = 0; i < data.length; i++)

           drawRow(data[i]);
           });
           */
          function drawRow(rowData) {

            console.log(rowData);
            var row ="<tr>";



            row +="<td>" + rowData['_id'] + "</td>" ;
            row +="<td>" + rowData['FIELD1'] + "</td>" ;
            row +="<td>" + rowData['FIELD2'] + "</td>" ;
            row +="<td>" + rowData['FIELD3'] + "</td>" ;
            row +="<td>" + rowData['FIELD4'] + "</td>" ;
            row +="<td>" + rowData['FIELD5'] + "</td>" ;
            row +="<td>" + rowData['FIELD6'] + "</td>" ;
            row +="</tr>"
            $("#t1").append(row);


            var tab =   $('#t1 tr').length;

            console.log(tab);

            if(tab>20)
            {
              $('#t1 tr:first').fadeOut(100, function() {

                $('#t1 tr:first').remove();
              });
            }
          }




        });



        a = parseInt(a);
        a = a+1;
        a = a.toString()
        localStorage.setItem('i',a);
      }



    });

  </script>

</head>
<body>



<table id="t1" border="2" bgcolor="#ffcc99">

  <tr>

    <th> .....Data..... </th>
    <th> .....Data..... </th>
    <th> .....Data..... </th>
    <th> .....Data..... </th>
    <th> .....Data..... </th>
    <th> .....Data..... </th>
    <th> .....Data..... </th>

  </tr>

</table>
</body>
</html>